$spacing: 4px;
// margin
.mx,
.ms {
  &-1 {
    margin-left: $spacing * 0.5 !important;
  }

  &-2 {
    margin-left: $spacing !important;
  }

  &-3 {
    margin-left: $spacing * 1.5 !important;
  }

  &-4 {
    margin-left: $spacing * 2 !important;
  }

  &-5 {
    margin-left: $spacing * 3 !important;
  }

  &-6 {
    margin-left: $spacing * 4 !important;
  }

  &-7 {
    margin-left: $spacing * 5 !important;
  }

  &-8 {
    margin-left: $spacing * 6 !important;
  }
}

.mx,
.me {
  &-1 {
    margin-right: $spacing * 0.5 !important;
  }

  &-2 {
    margin-right: $spacing !important;
  }

  &-3 {
    margin-right: $spacing * 1.5 !important;
  }

  &-4 {
    margin-right: $spacing * 2 !important;
  }

  &-5 {
    margin-right: $spacing * 3 !important;
  }

  &-6 {
    margin-right: $spacing * 4 !important;
  }

  &-7 {
    margin-right: $spacing * 5 !important;
  }

  &-8 {
    margin-right: $spacing * 6 !important;
  }
}

.my,
.mt {
  &-1 {
    margin-top: $spacing * 0.5 !important;
  }

  &-2 {
    margin-top: $spacing !important;
  }

  &-3 {
    margin-top: $spacing * 1.5 !important;
  }

  &-4 {
    margin-top: $spacing * 2 !important;
  }

  &-5 {
    margin-top: $spacing * 3 !important;
  }

  &-6 {
    margin-top: $spacing * 4 !important;
  }

  &-7 {
    margin-top: $spacing * 5 !important;
  }

  &-8 {
    margin-top: $spacing * 6 !important;
  }
}

.my,
.mb {
  &-0 {
    margin-bottom: $spacing * 0 !important;
  }
  &-1 {
    margin-bottom: $spacing * 0.5 !important;
  }

  &-2 {
    margin-bottom: $spacing !important;
  }

  &-3 {
    margin-bottom: $spacing * 1.5 !important;
  }

  &-4 {
    margin-bottom: $spacing * 2 !important;
  }

  &-5 {
    margin-bottom: $spacing * 3 !important;
  }

  &-6 {
    margin-bottom: $spacing * 4 !important;
  }

  &-7 {
    margin-bottom: $spacing * 5 !important;
  }

  &-8 {
    margin-bottom: $spacing * 6 !important;
  }
}

.flex {
  display: flex;
}

.justify-content {
  &-end {
    justify-content: flex-end;
  }
}
